.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
    color: rgb(255, 0, 43);
    font-size: 12px;
}