li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.item_header {
    font-size: 16px;
    margin-left: 20px;
    font-weight: 700;
}

.cart_header {
    display: flex;
    margin: 0;
    padding: 0;
    /* background-color: rgba(181, 19, 19, 0.5); */
    margin: 20px 50px 10px 50px;
    padding: 10px 20px;
}

.cart_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px 20px 50px;
    gap: 90px;
}

.cart_empty {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    margin: 40px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}


@media screen and (max-width: 767px) {
    .cart_empty {
        display: flex;
        flex-direction: column;
    }
}

.button {
    background-color: rgb(138, 57, 214);
    color: white;
    border-radius: 5px;
    border-style: none;
    min-width: 150px;
    max-width: 150px;

    min-height: 30px;
    padding: 5px;
    /* margin-top: 5px; */
    font-size: 15px;
    cursor: pointer;
}

.button_disabled {
    background-color: darkgray;
    pointer-events: none;

}

.item_container {
    display: grid;
    grid-template-columns: 30px 100px 1fr 120px 1fr 30px;
    align-items: center;
    margin: 0 50px 20px 50px;
    padding: 10px 20px;
    /* background-color: rgb(255, 255, 255); */
    border: 2px solid rgb(219, 164, 231, 0.4);
    border-radius: 10px;
}


@media screen and (max-width: 630px) {
    .item_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        align-items: center;
    }
}

.item_counter {
    font-weight: 700;
    font-size: 25px;
    /* background-color: aqua; */
}

.item_image img {
    width: 100px;
    margin-left: 10px;
}

.item_descr {
    font-size: 14px;
    margin-left: 30px;
}

.item_checkbox {
    color: black;
}


.item_remove {
    cursor: pointer;
}

.counter_container {
    display: flex;
    flex-direction: row;
    user-select: none;
}

.counter_button {
    padding: 5px;
    cursor: pointer;
}

.counter_button_disabled {
    color: darkgray;
    pointer-events: none;
}

.counter_value {
    padding: 5px 10px;
}