
.header {
    padding: 10px;
}

.errorMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorMessage button {
    margin-top: 10px;
    border: 1px solid;
    border-radius: 10px;
    background: white;
}

.errorMessage button:hover {
    box-shadow: 0 0 10px 5px rgba(17, 28, 51, 0.9);
}

.sort {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}

.field {
    padding: 5px;
}