.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    gap: 10px;
    background-color: rgba(180, 151, 231, 0.3);
    border-radius: 10px;
    color: black;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

.like {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 3px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}


p {
    margin: 0;
}

.price {
    color: rgb(61, 34, 108);
    font-size: 30px;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price_discount {
    font-size: 20px;
    color: darkgrey;
    text-decoration: line-through;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wight {
    font-style: italic;
}

.picture {
    width: 100%;
}

.button {
    background-color: rgb(138, 57, 214);
    color: white;
    border-radius: 5px;
    border-style: none;
    min-width: 150px;
    min-height: 30px;
    padding: 5px;
    margin-top: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-top: auto;
}

.button_in_cart {
    background-color: rgb(222, 2, 215);
}