.form {
    width: 60vw;
    height: auto;
    display: none;
}

.form_open {
    display: initial;
}

.form_input {
    border: none;
}

.form_error {
    font-style: italic;
}

.form_button {
    background-color: rgb(138, 57, 214);
    color: white;
    border-radius: 5px;
    border-style: none;
    min-width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}