dialog::backdrop {
    background-color: rgba(0,0,0,0.7);
}

.dialog {
    border-radius: 10px;
    border: none;
}

h1 {
    margin-top: 10px;
    color: rgb(76, 14, 135);

}

.form {
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 0;
}

.form_input {
    border: 1px solid rgb(138, 57, 214);

    margin-top: 5px;
}

.form_error {
    font-style: italic;
}

.form_button {
    background-color: rgb(138, 57, 214);
    color: white;
    border-radius: 5px;
    border-style: none;
    min-width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.header {
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
}